@import '~node_modules/modern-normalize/modern-normalize.css';


// Breakpoints

$mobile-breakpoint: 320px;
$mobile-second-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$desktop-second-breakpoint: 1600px;

// Comon colors

$main-background-color: rgba(255, 255, 249, 1);
$second-background-color: rgba(254, 243, 228, 1);
$accent-color: rgb(171, 129, 108);

$main-text-color: rgb(46, 37, 32);
$second-text-color: rgba(171, 129, 108, 0.5);
$button-text-color: rgb(255, 255, 255);

// Animation Function

$animation-timing-function: cubic-bezier(.25, .1, .25, .1);

// Additional normalizing

* {
    font-family: 'Montserrat', sans-serif;
    color: $main-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

// Body background

.background {

// Mobile background
    margin: 0 auto;
    background-color: $main-background-color;
    background-image: 
        url(../images/backgrounds/mobile/bg-donuts-mobile-1x-min.png),
        url(../images/backgrounds/mobile/bg-mobile-min.png),
        url(../images/backgrounds/mobile/bg-mid-mobile-min.png),
        url(../images/backgrounds/mobile/bg-wheat-mobile-1x-min.png);
    
    background-position: 
                            top left, 
                            top, 
                            50% 90%, 
                            bottom right;
    background-repeat: 
                            no-repeat, 
                            no-repeat, 
                            no-repeat, 
                            no-repeat;
    background-size: 
                            120px 114px, 
                            100% 460px, 
                            100% 1337px, 
                            84px 73px;
}
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .background {
            background-image: 
                url(../images/backgrounds/mobile/bg-donuts-mobile-2x-min.png),
                url(../images/backgrounds/mobile/bg-mobile-min.png),
                url(../images/backgrounds/mobile/bg-mid-mobile-min.png),
                url(../images/backgrounds/mobile/bg-wheat-mobile-2x-min.png);
        }
    }    

// Tablet background

@media screen and (min-width: $tablet-breakpoint) {
    .background {
        background-image: 
            url(../images/backgrounds/tablet/bg-donuts-tablet-1x-min.png),
            url(../images/backgrounds/tablet/bg-tablet-min.png),
            url(../images/backgrounds/tablet/bg-mid-tablet-min.png),
            url(../images/backgrounds/tablet/bg-wheat-tablet-1x-min.png);

        background-position: 
                            top right 102px,
                            top,
                            50% 94%,
                            bottom right;
        background-repeat: 
                            no-repeat,
                            no-repeat,
                            no-repeat,
                            no-repeat;
        background-size: 
                            380px 361px,
                            100% 622px,
                            100% 1450px,
                            184px 119px;
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .background {
            background-image: 
                url(../images/backgrounds/tablet/bg-donuts-tablet-2x-min.png),
                url(../images/backgrounds/tablet/bg-tablet-min.png),
                url(../images/backgrounds/tablet/bg-mid-tablet-min.png),
                url(../images/backgrounds/tablet/bg-wheat-tablet-2x-min.png);
            ;
        }
    }
}


// Desktop background

@media screen and (min-width: $desktop-breakpoint) {
    .background {
        max-width: $desktop-second-breakpoint;
        background-image: 
            url(../images/backgrounds/desktop/bg-donuts-desktop-1x-min.png),
            url(../images/backgrounds/desktop/bg-spoon-desktop-1x-min.png),
            url(../images/backgrounds/desktop/bg-desktop-min.png),
            url(../images/backgrounds/desktop/bg-wheat-desktop-1x-min.png),
            url(../images/backgrounds/desktop/bg-mid-desktop-min.png);        

        background-position: 
                            top right,
                            top 501px left,
                            top,
                            bottom right,
                            50% bottom;
        background-repeat: 
                            no-repeat,
                            no-repeat,
                            no-repeat,
                            no-repeat,
                            no-repeat;
        background-size: 
                            716px 661px,
                            145px 450px,
                            100% 1035px,
                            302px 175px,
                            100% 1760px;
    }
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .background {
                background-image: 
                    url(../images/backgrounds/desktop/bg-donuts-desktop-2x-min.png),
                    url(../images/backgrounds/desktop/bg-spoon-desktop-2x-min.png),
                    url(../images/backgrounds/desktop/bg-desktop-min.png),
                    url(../images/backgrounds/desktop/bg-wheat-desktop-2x-min.png),
                    url(../images/backgrounds/desktop/bg-mid-desktop-min.png);
            }
        }
}


// Common elements

.title {
    font-family: 'Caveat Brush', cursive;
    font-weight: 400;
    text-align: center;
}

.button {
    display: block;
    width: 145px;
    height: 40px;

    @media screen and (min-width: $desktop-breakpoint) {
        & {
            width: 158px;
            height: 45px;
        }        
    }

    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-size: 18px;
    line-height: 1.28;
    color: $button-text-color;

    background: $accent-color;



    border: 0px;
    border-radius: 25px;

    margin: 0 auto;

    cursor: pointer;
}

.container {
    max-width: $mobile-second-breakpoint;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: $tablet-breakpoint) {
        & {
            max-width: $desktop-breakpoint;
            padding: 0 32px;
        }
    }

    @media screen and (min-width: $desktop-breakpoint) {
        & {
            max-width: $desktop-second-breakpoint;
            padding: 0 20px;
        }
    }
}

.active {
    color: $accent-color;
}

// Form

.form__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__input {
    outline: none;

    width: 100%;

    margin-bottom: 20px;

    border: none;

    cursor: pointer;

    border-bottom: 1px solid $accent-color;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: $second-text-color;
    }
}

// Visually-hidden

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}