.contact {
    text-align: center;
    padding-bottom: 32px;


    @media screen and (min-width:$tablet-breakpoint) {
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


    &__form-field {
        position: relative;
        width: 100%;
        margin-bottom: 20px;


        @media screen and (min-width: $tablet-breakpoint) {
                margin-bottom: 16px;
            }
        
            @media screen and (min-width: $desktop-breakpoint) {
                margin-bottom: 15px;
            }


        @media screen and (min-width:$tablet-breakpoint) {
            width: 336px;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            width: 394px;
        }
    }


    &__text {
     margin-bottom: 0px;
     }
    
    
     &__btn {
        height: 40px;
        border-radius: 25px;
        background-color: $accent-color ;
        margin-top: 32px;
        color: white;
        transition: background-color .25s cubic-bezier(.25, .1, .25, .1);;

        @media screen and (min-width: $mobile-breakpoint) {
            width: 145px;
            height: 40px;
            font-size: 18px;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            width: 182px;
            height: 45px;
            font-size: 24px;
        }
    }


    &__btn:focus,
    &__btn:hover {
        background-color: $second-text-color;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 16px;

        @media screen and (min-width: $tablet-breakpoint) {
            margin-bottom: 20px;

            @media screen and (min-width: $desktop-breakpoint) {
                font-size: 36px;
            }

        }
    }

    &__subtitle {
        margin: 0px 0 16px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;

        @media screen and (min-width: $desktop-breakpoint) {
            font-size: 18px;
            line-height: 1.22;
        }
    }

    &__line {
        margin-bottom: 32px;
    }

    &__item {
        width: 100%;
        color: #ab816c;
        cursor: pointer;
        background-color: #0000;
        border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-bottom: 1px solid #ab816c80;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        transition: border-color .25s $animation-timing-function;

        &:focus,
        &:focus-visible {
            border-color: $accent-color;
        }
    }


    &__label {
        height: 20px;
        color: #ab816c80;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        transition: transform .25s $animation-timing-function, font-size .25s $animation-timing-function;
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.contact__item:focus+.contact__label,
.contact__item:focus:not(:placeholder-shown)+.contact__label {
    transform: translateY(-150%);
    font-size: 12px;

    @media screen and (min-width: $tablet-breakpoint) {
        transform: translateY(-120%);
    }

}

.contact__item:not(:placeholder-shown)+.contact__label {
    transform: translateY(-150%);

}

.contact__item:focus:not(:placeholder-shown):invalid {
    border-color: #FF0000;
}