.header {
  &-container {
    @media screen and (min-width: $tablet-breakpoint) {
      padding-bottom: 69px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
      padding-bottom: 111px;
    }
  }
  // position: relative;
  // &__img {
  //   position: absolute;
  //   top: 0;
  //   z-index: -1;
  //   @media (max-width: 767px) {
  //     left: 0;
  //   }
  //   @media (min-width: $tablet-breakpoint) {
  //     right: 0;
  //     width: 380px;
  //     height: auto;
  //     margin-right: 102px;
  //   }
  //   @media (min-width: $desktop-breakpoint) {
  //     width: 793px;
  //     margin-right: 0;
  //   }
  // }

  &__wrapper {
    padding-top: 8px;
    margin-bottom: 31px;
    @media (max-width: 767px) {
      text-align: center;
    }
    @media (min-width: $tablet-breakpoint) {
      padding-top: 36px;
      margin-bottom: 16px;
    }
    @media (min-width: $desktop-breakpoint) {
      padding-top: 38px;
      margin-bottom: 42px;
    }

    @media (min-width: $desktop-breakpoint) {
      display: flex;
      align-items: center;
    }
  }

  &__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $tablet-breakpoint) {
      align-items: flex-start;
    }
  }

  &__nav {
    @media (max-width: 1279px) {
      display: none;
    }
    margin-left: 162px;
  }

  &__title {
    margin-bottom: 8px;

    font-family: 'Caveat Brush';
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.26;
    @media (max-width: 767px) {
      text-align: center;
    }
    @media (min-width: $desktop-breakpoint) {
      font-size: 4rem;
      line-height: 1;
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    line-height: 0.8;
    font-weight: 500;
    margin-bottom: 32px;
    @media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-breakpoint) {
      font-size: 1.5rem;
      line-height: 1.21;
    }
  }
}

.logo {
  display: inline-block;
  font-size: 0;
  &__icon {
    @media (min-width: $desktop-breakpoint) {
      width: 158px;
      height: 81px;
    }
  }
}

.socials {
  display: flex;
  gap: 16px;
  &__link {
    display: block;
  }
}

.button--flex {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms $animation-timing-function;

  &:hover,
  &:focus {
    background: $second-text-color;
  }

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: 32px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

.menu {
  display: flex;

  &__link {
    display: block;
    padding: 20px 10px;
    font-size: 1.125rem;
    line-height: 1.22;
    transform: scale(1);
    transition: transform 250ms $animation-timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
      transform: scale(1.15);
      animation-name: menuStyle;
      animation-duration: 2500ms;
      animation-timing-function: linear;
    }
  }
}
