// .mob-menu {
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   z-index: 8;
//   overflow: hidden;
//   padding-top: 25px;

//   @media (min-width: $desktop-breakpoint) {
//     display: none;
//   }

//   background: rgba(254, 243, 228, 0.9);
//   backdrop-filter: blur(4px);

//   transform: translateX(0);
//   transition: transform 250ms linear;
//   &.is-hidden {
//     transform: translateX(-100%);
//   }
// }

// .menu-conteiner {
//   text-align: center;
// }
// .menu-open_btn {
//   position: absolute;
//   top: 16px;
//   right: 20px;
//   background-color: transparent;
//   border: none;
//   margin-left: 62px;
//   @media (min-width: $tablet-breakpoint) {
//     top: 32px;
//     right: 32px;
//   }
//   @media (min-width: $desktop-breakpoint) {
//     display: none;
//   }
// }

// .menu-close_btn {
//   position: absolute;
//   top: 20px;
//   right: 20px;
//   background-color: transparent;
//   border: none;
//   margin-left: 62px;
//   @media (min-width: $tablet-breakpoint) {
//     top: 32px;
//     right: 32px;
//   }
// }
// .menu-conteiner {
//   display: block;
// }
// .menu-nav_list {
//   margin-top: 40px;
// }

// .menu-nav_item {
//   & + & {
//     margin-top: 45px;
//   }
//   @media (min-width: $tablet-breakpoint) {
//     margin-top: 40px;
//   }
// }
// .menu-nav_link {
//   font-weight: 500;
//   font-size: 24px;
//   line-height: 29px;
//   text-align: center;
//   color: $main-text-color;
// }

// меню 2------------------------
.popup {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(254, 243, 228, 0.9);
  backdrop-filter: blur(4px);
  z-index: 100;

  transition: 0.3s;
  padding-top: 20px;
  @media (min-width: $tablet-breakpoint) {
    padding-top: 25px;
  }
}
.popup.open {
  left: 0;
}

.open {
  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.menu-icon_btn--close {
  display: none;
}
.menu-open_btn .active.menu-icon_btn--close {
  display: block;
}
.menu-open_btn .active.menu-icon_btn--open {
  display: none;
}

.popup .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

body.noscroll {
  overflow: hidden;
}

.menu-burer__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $main-text-color;
}
.logo-burger {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.hamb {
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 9999;
  @media (min-width: $tablet-breakpoint) {
    top: 39px;
    right: 32px;
  }

  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}
.hamb__field {
  // padding: 10px 20px;
  cursor: pointer;
}
.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px auto;
  background-color: rgba(46, 37, 32, 1);
  transition: 0.2s;
}

.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb__field.active .bar:nth-child(1) {
  top: 0;
  transform: translateY(8px) rotate(45deg);
}

.hamb__field.active .bar:nth-child(3) {
  bottom: 0;
  transform: translateY(-5px) rotate(-45deg);
}
