
  .program__container {
    padding-bottom: 52px;

    @media screen and (min-width: $tablet-breakpoint) {
        display: flex;
        padding-bottom: 76px;
        padding-top: 76px;
        justify-content: center;
        align-items: flex-start;
      }

    @media screen and (min-width: $desktop-breakpoint) {
        padding-bottom: 170px;
        padding-top: 50px;
        justify-content: space-evenly;
    }
  }
  

  .program__text-wrapper {
    margin-bottom: 55px;
    
    @media screen and (min-width: $tablet-breakpoint) {
      max-width: 336px;
      margin-bottom: 0;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        min-width: 392px;
      }
  }
  
  .program__title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.25;
    @media screen and (min-width: $tablet-breakpoint) {
        text-align: left;
      }

    @media screen and (min-width: $desktop-breakpoint) {
        font-size: 36px;
        line-height: 1.81;
    }
  }
  
  .text {
    font-size: 16px;
    line-height: 1.25;

    @media screen and (min-width: $desktop-breakpoint) {
        font-size: 18px;
        line-height: 1.22;
    }
  }
  
  .program__text {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop-breakpoint) {
        margin-bottom: 20px;
    }
  }
  
  .program__options-item:not(:last-child){
    margin-bottom: 8px;

    @media screen and (min-width: $desktop-breakpoint) {
        margin-bottom: 16px;
    }
  }

  .program__after-text {
    margin-top: 8px;

    @media screen and (min-width: $desktop-breakpoint) {
        margin-top: 16px;
    }
  }

  .program__btn {
    margin-top: 16px;
    display: inline-block;
  
    @media screen and (min-width: $desktop-breakpoint) {
      display: none;
  }
  }
  
  .program__more,
  .program__less {
    font-family: 'Caveat Brush', cursive;
    font-size: 18px;
    line-height: 1.28;
    color: $accent-color;
    background-color: transparent;
    border: none;
  }

  .program__after-text {
    display: none;

    @media screen and (min-width: $desktop-breakpoint) {
      display: inline-block;
  }
  }

  .program__input:checked ~ .program__after-text {
    display: block;
  }

  .program__less {
    display: none;
  }

  .program__input:checked ~ .program__btn .program__more {
    display: none;
  }

  .program__input:checked ~ .program__btn .program__less {
    display: inline;
  }
  /* _______________donut-list___________________________________ */
  .program__donut-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet-breakpoint) {
      max-width: 336px;
      margin-right: 0;
      margin-left: 32px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
      margin-left: 0;
      min-width: 500px;
    }
  }
  
  .program__donut-item {
    transition: transform 250ms $animation-timing-function, background 250ms $animation-timing-function;
    position: relative;
    flex-basis: calc((100% - 20px) / 2);
    max-width: 130px;
    height: 130px;
    cursor: default;

    border-radius: 50%;
    margin-bottom: 64px;
    background: $second-background-color;
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);  

    &:hover {
      transform: scale(1.1);
      background: rgba(254, 243, 228, 0.4);
    }

    @media screen and (min-width: $tablet-breakpoint) {
      flex-basis: calc((100% - 32px) / 2);
      max-width: 152px;
      height: 152px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
      flex-basis: calc((100% - 140px) / 2);
      max-width: 180px;
      height: 180px;
      margin-bottom: 80px;
    }
  }
  
  .program__donut-item:nth-child(2n) {
    margin-left: 20px;
    top: 36px;  

    @media screen and (min-width: $tablet-breakpoint) {
      margin-left: 32px;
      top: 51px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
      margin-left: 140px;
      top: 128px;
    }
  }

  .program__donut-item:nth-child(n + 3)  {
    margin-bottom: 0px;  
  }

  .program__donut-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;

    .program__donut-item:hover & {
      animation-play-state: running;
    }    
  }

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .program__donut-wrapper {  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 10px 6px;

    @media screen and (min-width: $tablet-breakpoint) {
      padding: 18px 10px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
      padding: 16px 16px;
    }
  }

  .program__donut-text {
    margin-bottom: 4px;
    font-family: 'Caveat Brush';
    font-size: 18px;
    line-height: 1.28;
    color: rgba(0, 0, 0, 1);

    @media screen and (min-width: $tablet-breakpoint) {
      margin-bottom: 14px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 1.25;
    }
  }

  .program__donut-after-text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.21;
    color: rgba(0, 0, 0, 1);

    @media screen and (min-width: $desktop-breakpoint) {
      font-size: 16px;
    }
  }
  