.rewiews{
    text-align: center;
    max-width: 100%;

    &__tittle{
        margin-bottom: 20px;
        font-family: 'Caveat Brush';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .swiper {
        width: 100%;
        height: 650px;

        .swiper-pagination{
            top: 590px;
            @media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint){
                top: 500px;
            }
            @media only screen and (min-width: $desktop-breakpoint) and (max-width: $desktop-second-breakpoint) {
                top: 550px;
            }
            @media only screen and (min-width: $desktop-second-breakpoint) {
                top: 550px;
            }

            
        }

        .swiper-pagination-current{
            

            &::before{
            content: "";

            margin-right: 12px;
            width: 35px;
            height: 0px;
            left: 135px;
            top: 2524px;

            border: 1px solid $accent-color;
            transform: rotate(180deg);
            }           
        }

        .swiper-pagination-total{
            &::after{
                content: "";

                margin-left: 12px;
                width: 35px;
                height: 0px;
                left: 185px;
                top: 2525px;
                            
                border: 1px solid $accent-color;
            }
        }
    }
    

    &__clients{
        font-family: 'Montserrat';

        height: 590px;

       .client{

            margin-bottom: 15px;

           &__image{
               margin-left: auto;
               margin-right: auto;
               margin-bottom: 8px;

                @media only screen and (min-width: $mobile-breakpoint) and (max-width: $mobile-second-breakpoint) {
                    width: 280px;
                }
                @media only screen and (min-width: $mobile-second-breakpoint) and (max-width: $tablet-breakpoint) {
                    width: 280px;
                }
                @media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
                    width: 336px;
                }
                @media only screen and (min-width: $desktop-breakpoint) and (max-width: $desktop-second-breakpoint) {
                    width: 394px;
                }
                @media only screen and (min-width: $desktop-second-breakpoint) {
                    width: 394px;
                }
           }

           &__rating{
               display: flex;
               flex-direction: row;
               justify-content: center;
               margin-bottom: 8px;

               fill: $accent-color;    
           }

           &__name{
               margin-bottom: 8px;

                font-style: italic;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;

                text-align: center;

                @media only screen and (min-width: $tablet-breakpoint) {
                    font-size: 16px;
                    line-height: 20px;
                }                

                
           }

           &__response{       
               display: inline-block;
                width: 280px;
                height: 220px;     
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: center;

                @media only screen and (min-width: $tablet-breakpoint) {
                    width: 100%;
                }
                
           }
        }
    }
}

