.rewiews{
    text-align: center;
    max-width: 100%;

    &__tittle{
        margin-bottom: 20px;
        font-family: 'Caveat Brush';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .swiper {
        width: 100%;
        height: 650px;

        .swiper-pagination{
            top: 590px;
        }
    }
    

    &__clients{
        font-family: 'Montserrat';

        height: 590px;

       .client{

            margin-bottom: 15px;

           &__image{
               margin-left: auto;
               margin-right: auto;
               margin-bottom: 8px;
           }

           &__rating{
               display: flex;
               flex-direction: row;
               justify-content: center;
               margin-bottom: 8px;

               fill: $accent-color;    
           }

           &__name{
               margin-bottom: 8px;

                font-style: italic;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;

                text-align: center;
           }

           &__response{       
               display: inline-block;
                width: 280px;
                height: 220px;     
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
           }
        }
    }
}


/*@media only screen and ($mobile-breakpoint) {
    .client__image #client_1 {
    src: url(../images/reviews-images/john-photo-desktop-1x-min.png);
    }
}

@media only screen and ($mobile-second-breakpoint) {
    .client__image #client_1 {
    src: url(../images/reviews-images/john-photo-desktop-1x-min.png);
    }
}*/

