.rewiews{
    text-align: center;
    max-width: 100%;

    .reviews-container{
        &__tittle{
            margin-bottom: 20px;
            font-family: 'Caveat Brush';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;

            @media only screen and (min-width: $tablet-breakpoint) {
                font-size: 24px;
                line-height: 30px;
                padding-top: 50px;
                margin-bottom: 0;
            }

            @media only screen and (min-width: $desktop-breakpoint) {
                font-size: 36px;
                line-height: 1.81; 
                /*margin-bottom: 180px;  */   
            }
        }
    
        .swiper {
            width: 100%;

            @media only screen and (max-width: $tablet-breakpoint) {
                .swiper-button-next,
                .swiper-button-prev{
                    display: none;
                }
            }            

            

            .swiper-button-next,
            .swiper-pagination-current,
            .swiper-button-prev,
            .swiper-pagination-total{
                color: $accent-color;
            }
    
            .swiper-pagination{
                bottom: 60px;
                color: $accent-color;
            }
    
            .swiper-pagination-current{
                &::before{
                content: "";
    
                margin-right: 12px;
                width: 35px;
                height: 0px;
                left: 135px;
                top: 2524px;
    
                border: 1px solid $accent-color;
                transform: rotate(180deg);
                }           
            }
    
            .swiper-pagination-total{
                &::after{
                    content: "";
    
                    margin-left: 12px;
                    width: 35px;
                    height: 0px;
                    left: 185px;
                    top: 2525px;
                                
                    border: 1px solid $accent-color;
                }
            }
        }
        
    
        &__clients{
            font-family: 'Montserrat';
    
            height: 100%;
    
           .client{
    
                margin-bottom: 15px;

               &__image{
                   margin-left: auto;
                   margin-right: auto;
                   margin-bottom: 8px;
    
                    @media only screen and (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
                        width: 280px;
                    }
                    @media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
                        width: 336px;
                    }
                    @media only screen and (min-width: $desktop-breakpoint){
                        width: 394px;
                    }
               }
    
               &__rating{
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   margin-bottom: 8px;
    
                   fill: $accent-color;    
               }

               .empty{
                   fill: transparent;
                   stroke: $accent-color;                   
               }
               
    
               &__name{
                    margin-bottom: 8px;
    
                    font-style: italic;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
    
                    text-align: center;
    
                    @media only screen and (min-width: $tablet-breakpoint) {
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 20px;
                    }                
    
                    
               }
    
               &__response{       
                    display: inline-block;
                    width: 280px;
                    height: 220px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    margin-bottom: 81px;
    
                    @media only screen and (min-width: $tablet-breakpoint) {
                        width: 100%;
                        height: 120px;
                        margin-bottom: 89px;
                        font-size: 16px;
                        line-height: 20px;
                    }

                    @media only screen and (min-width: $desktop-breakpoint) {
                        height: 88px;
                        margin-bottom: 112px;
                        font-size: 18px;
                        line-height: 22px;          
                    }
               }
            }
        }
    }

    
}


@media only screen and (min-width: $tablet-breakpoint) {
    .swiper .swiper-wrapper{
        height: 750px;
        position: relative;
        top: 100px;
    }

    .swiper-slide-prev{
        position: relative;
        left: calc(100% + 20px);   
        top: -100px;    
    }
    
    .swiper-slide-prev article, .swiper-slide-next article{
        width: 150px;  
    }
    
    .swiper-slide-next{
        position: relative;
        right: 170px;  
        top: -100px;  
       
    }

    .swiper-slide-prev,
    .swiper-slide-next{
        .client__response{
            display: none !important;
        }       
        
    }
}


@media only screen and (min-width: $desktop-breakpoint) {
    .swiper .swiper-wrapper{
        height: 850px;
        position: relative;
        top: 180px;
    }

    .swiper-slide-prev{
        position: relative;
        left: calc(100% + 20px);   
        top: -180px;    
    }
    
    .swiper-slide-prev article, .swiper-slide-next article{
        width: 280px;  
    }
    
    .swiper-slide-next{
        position: relative;
        right: 300px;  
        top: -180px;  
       
    }

    .swiper-slide-prev,
    .swiper-slide-next{
        .client__response{
            display: none !important;
        }       
        
    }
}





