<section>
    <div class="container">
     <div class="contacts">
            <h2 class="title  contacts-title">Contact</h2>
            <legend>We will answer any question!</legend>
            
            <form class="contacts__contacts-form  form__field" action="">
                <label>
                <input class="contacts__form-mail  form__input" type="email" name="email" id="email"  placeholder="Email"/>
                
           </label>
              
                <label >
                <input  class="form__input" type="text" name="text" id="text" placeholder="Type your question"  minlength="3" required/>
               
                </label>
           </form>
            <button class="contacts__contact-btn  button" type="submit">Send</button>
               </div>

    </div>

</section>