<section class="contact" id="contact">
    <div class="container">
      <h2 class="title contact__title">Contact</h2>
        <legend class="contact__subtitle">We will answer any question!</legend>
          <form class="contact__form">

            <div class="contact__form-field ">
                <input type="email" class="contact__item" id="mail" placeholder=" "
                    pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$">
                  <label for="mail" class="contact__label">Email</label>
            </div>

            <div class="contact__form-field">
                <input type="text" class="contact__item" id="text" placeholder=" " pattern="[A-Za-z]{1,60}"
                    minlength="3" maxlength="60" required>
                <label for="text" class="contact__label">Type your question</label>
            </div>
              </form>
             <button class="contact__btn button" type="submit">Send</button>
             </div>
</section>