<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a class="logo logo--position" href="#">
                <svg class="logo__icon" width="96" height="48">
                    <use href="/src/images/sprite.svg#icon-logo"></use>
                </svg>
            </a>
            <nav class="header__nav">
                <ul class="menu">
                    <li class="menu__item"><a class="menu__link" href="">About us</a></li>
                    <li class="menu__item"><a class="menu__link" href="">Program</a></li>
                    <li class="menu__item"><a class="menu__link" href="">Reviews</a></li>
                    <li class="menu__item"><a class="menu__link" href="">Contacts</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__holder">
            <h1 class="header__title">Donut Masterclass <br>with the Donut King</h1>
            <p class="header__subtitle">Hosted by Eva Green</p>
            <button class="button button--mbottom" type="button">Register</button>
            <ul class="socials">
                <li class="socials__item">
                    <a class="socials__link" href="#">
                        <svg class="socials__icon" width="18" height="18">
                            <use href="/src/images/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="">
                        <svg class="socials__icon" width="18" height="18">
                            <use href="/src/images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="">
                        <svg class="socials__icon" width="18" height="18">
                            <use href="/src/images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <picture>
            <source
                srcset="/src/images/backgrounds/desktop/bg-donuts-desktop-1x-min.png 1x, /src/images/backgrounds/desktop/bg-donuts-desktop-2x-min.png 2x"
                media="(min-width:1280px)" type="image/png">
            <source
                srcset="/src/images/backgrounds/tablet/bg-donuts-tablet-1x-min.png 1x, /src/images/backgrounds/tablet/bg-donuts-tablet-2x-min.png 2x"
                media="(min-width:768px)" type="image/png">
            <source
                srcset="/src/images/backgrounds/mobile/bg-donuts-mobile-1x-min.png 1x,  /src/images/backgrounds/mobile/bg-donuts-mobile-2x-min.png 2x"
                media="(max-width: 767px)" type="image/png">
            <img class="header__img" src="/src/images/backgrounds/mobile/bg-donuts-mobile-1x-min.png" alt="donuts"
                width="120">
        </picture>
    </div>
</header>