<section class="program" id="our-program">
    <div class="container program__container">
  <div class="program__text-wrapper">
  <h2 class="title program__title" >Program</h2>
  <p class="text program__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</p>
  <ul class=" list program__options-list">
    <li class="program__options-item">
      <p class="text">
      > A stand up history of donuts
    </p>
    </li>
    <li class="program__options-item">
      <p class="text">
        > Make 3 donut flavors of your choice
      </p>
    </li>
    <li class="program__options-item">
      <p class="text">
      > Enjoy all-you-can-eat donuts
      </p>
    </li>
    <li class="program__options-item">
      <p class="text">
      > Cocktail pairings and coffee included
     </p>
    </li>
    <li class="program__options-item">
      <p class="text">
      > Photoshoot by professional photographer
    </p>
    </li>
    <li class="program__options-item">
      <p class="text">
      > Secret receipt of cooking from Eva
    </p>
    </li>
    <li class="program__options-item">
      <p class="text">
      > All products are included in the price
    </p>
    </li>
  </ul>
  <input hidden class="program__input" id="text" type="checkbox">
  <p class="text program__after-text">Come with your dear people and friends
      and you will spend an unforgettable time and
      will become a real professional in donuts cooking!
  </p>
  <label class="program__btn" for="text"><span class="program__more">Read more</span> <span class="program__less">Less</span> </label>
  </div>
  <ul class=" list program__donut-list">
  <li class="program__donut-item">
    <picture>
        <source srcset="./images/program-images/donut1-desktop-1x-min.png 1x, ./images/program-images/donut1-desktop-2x-min.png 2x"
            media="(min-width: $desktop-breakpoint)" />
  
        <source srcset="./images/program-images/donut1-tablet-1x-min.png 1x, ./images/program-images/donut1-tablet-2x-min.png 2x"
            media="(min-width: $tablet-breakpoint)" />
  
        <source srcset="./images/program-images/donut1-mobile-1x-min.png 1x, ./images/program-images/donut1-mobile-2x-min.png 2x"
            media="(max-width: 767.5px)" />
  
        <img class="img program__donut-img" src="./images/program-images/donut1-desktop-1x-min.png" alt="Фото пончика - 1"
             />
    </picture> 
  <div class="program__donut-wrapper">
    <p class="program__donut-text">Type of the event</p>
    <p class="program__donut-after-text">Cooking classes</p>
    <svg class="program__icon" width="19" height="19">
      <use href="./images/sprite.svg#icon-chef-hat"></use>
    </svg>
  </div>
  </li>
  <li class="program__donut-item">
    <picture>
      <source srcset="./images/program-images/donut2-desktop-1x-min.png 1x, ./images/program-images/donut2-desktop-2x-min.png 2x"
          media="(min-width: $desktop-breakpoint)" />
  
      <source srcset="./images/program-images/donut2-tablet-1x-min.png 1x, ./images/program-images/donut2-tablet-2x-min.png 2x"
          media="(min-width: $tablet-breakpoint)" />
  
      <source srcset="./images/program-images/donut2-mobile-1x-min.png 1x, ./images/program-images/donut2-mobile-2x-min.png 2x"
          media="(max-width: 767.5px)" />
  
      <img class="img program__donut-img" src="./images/program-images/donut2-desktop-1x-min.png" alt="Фото пончика - 2"
           />
  </picture> 
  <div class="program__donut-wrapper">
    <p class="program__donut-text">Number of guests</p>
    <p class="program__donut-after-text">1 to 20</p>
    <svg class="program__icon" width="19" height="19">
      <use href="./images/sprite.svg#icon-people"></use>
    </svg>
  </div>
  </li>
  <li class="program__donut-item">
    <picture>
        <source srcset="./images/program-images/donut3-desktop-1x-min.png 1x, ./images/program-images/donut3-desktop-2x-min.png 2x"
            media="(min-width: $desktop-breakpoint)" />
  
        <source srcset="./images/program-images/donut3-tablet-1x-min.png 1x, ./images/program-images/donut3-tablet-2x-min.png 2x"
            media="(min-width: $tablet-breakpoint)" />
  
        <source srcset="./images/program-images/donut3-mobile-1x-min.png 1x, ./images/program-images/donut3-mobile-2x-min.png 2x"
            media="(max-width: 767.5px)" />
  
        <img class="img program__donut-img" src="./images/program-images/donut3-desktop-1x-min.png" alt="Фото пончика - 3"
             />
    </picture> 
  <div class="program__donut-wrapper">
    <p class="program__donut-text">Time of the event</p>
    <p class="program__donut-after-text">18:30 (2.5 hours)</p>
    <svg class="program__icon" width="19" height="19">
      <use href="./images/sprite.svg#icon-clock"></use>
    </svg>
  </div>
  </li>
  <li class="program__donut-item">
    <picture>
        <source srcset="./images/program-images/donut4-desktop-1x-min.png 1x, ./images/program-images/donut4-desktop-2x-min.png 2x"
            media="(min-width: $desktop-breakpoint)" />
  
        <source srcset="./images/program-images/donut4-tablet-1x-min.png 1x, ./images/program-images/donut4-tablet-2x-min.png 2x"
            media="(min-width: $tablet-breakpoint)" />
  
        <source srcset="./images/program-images/donut4-mobile-1x-min.png 1x, ./images/program-images/donut4-mobile-2x-min.png 2x"
            media="(max-width: 767.5px)" />
  
        <img class="img program__donut-img" src="./images/program-images/donut4-desktop-1x-min.png" alt="Фото пончика - 4"
             />
    </picture> 
  <div class="program__donut-wrapper">
    <p class="program__donut-text">The host speaks</p>
    <p class="program__donut-after-text">English, French</p>
    <svg class="program__icon" width="19" height="19">
      <use href="./images/sprite.svg#icon-chat"></use>
    </svg>
  </div>
  </li>
  </ul>
  </div>
  </section>