<section class="register" id="registration">
    <div class="container">
        <h2 class="tablet__title title">Registration</h2>
        <form action="" class="register__form" validate autocomplete="off">
            <h2 class="register__title title">Registration</h2>
            <div class="register__aside">
                <div class="register__details">
                    <time datetime="2022-05-23T11:00">May 23, 11:00</time>
                    <span class="register__city">New York</span>
                </div>
                <span class="register__price">$ 699</span>
            </div>

            <div>
                <h3 class="register__subtitle">Apply your personal info </br> for registration</h3>

                <div class="register__field">
                    <input type="text" class="register__input" id="name" placeholder=" " pattern="^[a-zA-Z]+$" required>
                    <label for="name" class="register__label">Your name</label>
                </div>

                <div class="register__field">
                    <input type="text" class="register__input" id="phone" placeholder=" " pattern="^[ 0-9]+$" required
                        maxlength="12">
                    <label for="phone" class="register__label">Phone number</label>
                </div>

                <div class="register__field register__email">
                    <input type="text" class="register__input" id="mail" placeholder=" "
                        pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$">
                    <label for="mail" class="register__label">Email</label>
                </div>
            </div>

            <button type="submit" class="register__button button">Register</button>
        </form>
    </div>
    </div>
</section>