<section class="rewiews">
    <div class="container reviews-container">

        <h2 class="reviews-container__tittle">
            Reviews
        </h2>
    
        <div class="swiper mySwiper">
            <ul class="reviews-container__clients swiper-wrapper">
                <!-- John -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/john-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_1" class="client__image" src="./images/reviews-images/john-photo-mobile-1x-min.png" alt="photo client" width="280">
                    </picture>
                    
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        John
                    </h3>
                    <p class="client__response">
                        Last time I have visited a cooking course by Eva 
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                    </p>
                    </article>
                </li>
                <!-- Will -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/will-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_2" class="client__image" src="./images/reviews-images/will-photo-mobile-1x-min.png" alt="photo client" width="280">
                    </picture>
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Will
                    </h3>
                    <p class="client__response">
                        I thought going in if I just learned one thing I didn't know before it would be a success. I way underestimated the level of skill and information the two instructors, Celeste and Leslie exhibited during our time there. They both took the time to explain and didn't rush those of us who weren't up to speed with the latest Espagnole or Béchamel sauces.</p>
                    </article>
                </li>
                <!-- Elisabeth -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desctop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desctop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_3" class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="280"> 
                    </picture>
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Elisabeth
                    </h3>
                    <p class="client__response">
                        Last time I have visited a cooking course by Eva 
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                    </p>
                    </article>
                </li>
                <!-- Jana -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/john-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_1" class="client__image" src="./images/reviews-images/yana-modified.png" alt="photo client" width="280">
                    </picture>
                    
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Jana
                    </h3>
                    <p class="client__response">
                        Booked this class on a whim, and it was beyond our expectations. The facility is beautiful and the staff members were friendly and accommodating. One of the owners met with my boyfriend and myself for a private cooking class and it was more than just that.
                    </p>
                    </article>
                </li>
                <!-- Svitlana -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/will-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_2" class="client__image" src="./images/reviews-images/svitlana-modified.png" alt="photo client" width="280">
                    </picture>
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Svitlana
                    </h3>
                    <p class="client__response">
                        We went for our team event and it was a pretty interesting experience. Our chef mr. Chrysikopoulos was very helpful and willing to answer all of our questions.
I would recommend without a doubt.
                    </p>
                    </article>
                </li>
                <!-- Kateryna -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desctop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desctop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_3" class="client__image" src="./images/reviews-images/kateryna-modified.png" alt="photo client" width="280"> 
                    </picture>
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Kateryna
                    </h3>
                    <p class="client__response">
                        The cooing class was great! It was so much fun to cook together our meal. Everything was well explained, so that you don't need to be an excellent cook ;-)
The atmosphere was very good. Everything had a high quality. Not just the food and drinks, also the beautiful kitchen.
It was a great evening for the group (22 persons).
We will definitively do this again!
                    </p>
                    </article>
                </li>
                <!-- Serhiy -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/john-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_1" class="client__image" src="./images/reviews-images/serhiy-modified.png" alt="photo client" width="280">
                    </picture>
                    
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Serhiy
                    </h3>
                    <p class="client__response">
                        This is truly the most fun I've had cooking. Great experience, great people and atmosphere. A must visit if anywhere near Athens! Made Mousakas and pita!
                    </p>
                    </article>
                </li>
                <!-- Nora -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/will-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_2" class="client__image" src="./images/reviews-images/Nora-modified.png" alt="photo client" width="280">
                    </picture>
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Nora
                    </h3>
                    <p class="client__response">
                       One of the owners met with my boyfriend and myself for a private cooking class and it was more than just that. We learned the intricacies of Greek gastronomy as well as Greek culture and language. We will be back!
                    </p>
                    </article>
                </li>
                <!-- Olena -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desctop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desctop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_3" class="client__image" src="./images/reviews-images/olena-modified.png" alt="photo client" width="280"> 
                    </picture>
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Olena
                    </h3>
                    <p class="client__response">
                        We went for our team event and it was a pretty interesting experience. Our chef mr. Chrysikopoulos was very helpful and willing to answer all of our questions.
I would recommend without a doubt.
                    </p>
                    </article>
                </li>
                <!-- Anna -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/john-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_1" class="client__image" src="./images/reviews-images/anna-modified.png" alt="photo client" width="280">
                    </picture>
                    
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Anna
                    </h3>
                    <p class="client__response">
                        The atmosphere was very good. Everything had a high quality. Not just the food and drinks, also the beautiful kitchen.
It was a great evening for the group (22 persons).
We will definitively do this again!
                    </p>
                    </article>
                </li>
                <!-- Ara -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/will-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_2" class="client__image" src="./images/reviews-images/Ara-modified.png" alt="photo client" width="280">
                    </picture>
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Ara
                    </h3>
                    <p class="client__response">
                        He put us to work immediately with prepping our 3 courses, taking time to explain various techniques and giving us tips to improve our own cooking. We ate our meals in the kitchen, and the wine was plentiful. Nick even gave us a crash course in Greek!! If you want to learn traditional Greek cooking with excellent chefs and service, this is the place to be.
                    </p>
                    </article>
                </li>
                <!-- Jan -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desctop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desctop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_3" class="client__image" src="./images/reviews-images/ian-modified.png" alt="photo client" width="280"> 
                    </picture>
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Jan
                    </h3>
                    <p class="client__response">
                        The facility is beautiful and the staff members were friendly and accommodating. One of the owners met with my boyfriend and myself for a private cooking class and it was more than just that. We learned the intricacies of Greek gastronomy as well as Greek culture and language. 
                    </p>
                    </article>
                </li>
                <!-- Oleksandr -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/john-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/john-photo-desktop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_1" class="client__image" src="./images/reviews-images/olexandr-modified.png" alt="photo client" width="280">
                    </picture>
                    
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Oleksandr
                    </h3>
                    <p class="client__response">
                        Our reviews are based on tests carried out in the Reviewed test labs, with very few exceptions. Our reviews are written by the editors of Reviewed, who are all experienced, accomplished writers who understand the latest developments in their fields, and understand what impact these developments can have on the products being reviewed.
                    </p>
                    </article>
                </li>
                <!-- Mariya -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/will-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/will-photo-desktop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_2" class="client__image" src="./images/reviews-images/maria-modified.png" alt="photo client" width="280">
                    </picture>
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Mariya
                    </h3>
                    <p class="client__response">
                        Too often, product reviewers can get trapped in their own biases or base their conclusions on understandardized testing. That's why we have a team of knowledgeable experts led by a scientist making sure that our data is reliable.
                    </p>
                    </article>
                </li>
                <!-- Yulia -->
                <li class="reviews-container__clients__item swiper-slide">
                    <article class="client">
                    <picture>
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-2x-min.png 2x" media="$mobile-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-mobile-2x-min.png 2x" media="$mobile-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-tablet-1x-min.png" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-tablet-2x-min.png 2x" media="$tablet-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desktop-1x-min.png" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desctop-2x-min.png 2x" media="$desktop-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desktop-1x-min.png" media="$desktop-second-breakpoint">
                        <source srcset="./images/reviews-images/Elisabeth-photo-desctop-2x-min.png 2x" media="$desktop-second-breakpoint">
                        <img id="client_3" class="client__image" src="./images/reviews-images/julia-modified.png" alt="photo client" width="280"> 
                    </picture>
                    <ul class="client__rating">
                        <li class="rating_star">
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="rating_star__icon empty" width="24" height="24">
                                <use href="./images/sprite.svg#icon-empty-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="client__name">
                        Yulia
                    </h3>
                    <p class="client__response">
                        I saw this advertised and decided at once I must do it. I kept seeing Macarons everywhere and wanted to learn how to make them myself. The class was 19/08/31 and I believe it was Jenny who taught it. She did very well explaining every step needed and how to properly make a macaron. She also explained the difference between a macaron and a macaroon. Great time learning and will def be making these (at least attempting to!) at home (the Nutella ones will be my first try at home!)
                    </p>
                    </article>
                </li>
            </ul>
            
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>


    
</section>