<section class="rewiews">
    <h2 class="rewiews__tittle">
        Reviews
    </h2>

    <ul class="rewiews__clients">
        <!-- John -->
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/john-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-empty-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    John
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <!-- Will -->
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/will-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Will
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <!-- Elisabeth -->
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>
        <li class="rewiews__clients__item">
            <article class="client">
                <img class="client__image" src="./images/reviews-images/Elisabeth-photo-mobile-1x-min.png" alt="photo client" width="288">
                <ul class="client__rating">
                    <li class="rating_star">
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="rating_star__icon" width="24" height="24">
                            <use href="./images/sprite.svg#icon-full-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="client__name">
                    Elisabeth
                </h3>
                <p class="client__response">
                    Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
        </li>


    </ul>